@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

.introSection {
      background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      url('./../images/wine-grapes.jpg');
    

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
    height: calc(100vh - 100px);
    width: 100%;
}

.blueHeader,
.header {
    margin: 0;
    font-size: 40px;
    letter-spacing: 7px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.header {
    color: white;
    text-shadow: 1px 1px 1px #605E5E;
}

.blueHeader {
    color:#00BFFF;
    text-shadow: 1px 1px 1px white;
}

.mainHeaderDiv {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 40px;
    background: transparent;
}

.logo {
    color:white;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.landingDate {
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
}

.landingLocation {
    font-size: 18px;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.landingCircle {
    width: 400px;
    background: rgba(0, 191, 255, 0.6);

}


.sponsorDiv,
.contactDiv,
.wineryDiv {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 300px;
    margin: 0 auto;
}

.agendaDiv {
    background-image: 
      linear-gradient(
        rgba(0, 191, 255, 0.75),
        rgba(0, 191, 255, 0.75)
      ),
      url('./../images/wine-grapes.jpg');
    

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}


.sponsorDiv,
.wineryDiv {
    background: #f9f9f9;
}

.contactDiv {
    background: #00BFFF;
}

.wineryImg {
    background: black;
    padding: 20px;
    margin-block-start: 28px;
}

#wineryTable {
    width: 1024px;
    margin: 0 auto;
    padding-top: 40px;
}

.tableRow {
    border-top:#D3D3D3 solid 1px;
    padding: 10px;
}

.rowTitle {
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
}

.description {
    font-size: 14px;
    letter-spacing: 1px;
}

.sponsorHeader {
    color:#00BFFF;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.sponsorText {
    text-align: center;
    font-size: 18px;
}

.sponsorText a:visited,
.sponsorText a {
    color: #605E5E;
    text-decoration: none;
}

.sponsorText a:hover {
    color: #00BFFF;
}


.contactName {
    text-align: center;
    font-size: 24px;
    color: white;
}

.contactEmail {
    text-align: center;
    font-size: 18px;
}

.contactEmail a:visited,
.contactEmail a {
    color: #605E5E;
    text-decoration: none;
}

.contactEmail a:hover {
    color: white;
}

.sponsorLogo {
    width: 350px;
}

.sponsorImgLink {
    text-align: center;
}

#buttonType {
    padding: 10px 60px;
    height: 50;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    border: white solid 1px;
    background: transparent;
}

#buttonType:hover {
    color: #00BFFF;
    background: white;
}

.agendaDiv,
.aboutDiv {
    width: 100%;
    text-align: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.agendaDiv h4,
.aboutDiv h4 {
    color: #605E5E;
    font-size: 14px;
    text-transform: uppercase;
}

.aboutDiv h1,
.agendaDiv h4 {
    text-align: center;
}

.agendaInfo {
    padding-bottom: 70px;
}

.agendaInfo:nth-child(4) {
    padding-bottom: 0;
}


.agendaInfo p {
    text-align: center;
    margin: 0;
}

.agendaInfo p:first-child {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px #605E5E;
}

.agendaInfo p:nth-child(2) {
    font-size: 16px;
    text-transform: uppercase;
}

.aboutDiv .timeInfo,
.aboutDiv .locationInfo {
    text-align: center;
    width: 50%;
}

.aboutDiv .timeInfo p,
.aboutDiv .locationInfo p {
    text-transform: uppercase;
    font-size: 32px;
    color: #605E5E;
    margin: 0;
}


.aboutDiv .eventInfo {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 10px;
}

.aboutDiv .eventInfo p {
    color: #605E5E;
    font-size: 18px;
}

.arrowContainer {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 130px;
    width: 100%;
}

.downArrow {
    color: white;
    font-size: 60px !important;
}

.banner {
    background:#00BFFF;
    width: 100%;
    text-align: center;
    height: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bannerText {
    font-size: 20px;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}

.socialBar {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.socialBar a {
    color: white;
    margin: 0px 30px;
    text-align: center;
}

.socialBar a:hover {
    color: #605E5E;
}

.socialBar a:visited {
    color: white;
}

.copyright {
    color: #00BFFF;
    text-align: center;
    font-size: 12px;
    position: relative;
    bottom: -15px;
    width: 100%;
}