@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* height: 100vh; */
    width: 100%;
}

.introSection {
      background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      url('./../images/wine-grapes.jpg');
    

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
    height: calc(100vh - 120px);
    width: 100%;
}

.blueHeader,
.header {
    margin: 0;
    font-size: 40px;
    letter-spacing: 7px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.header {
    color: white;
    text-shadow: 1px 1px 1px #605E5E;
}

.blueHeader {
    color:#00BFFF;
    text-shadow: 1px 1px 1px white;
}

.mainHeaderDiv {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 40px;
    background: transparent;
}

.logo {
    color:white;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.landingDate {
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
}

.landingLocation {
    font-size: 18px;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.landingCircle {
    background: #00BFFF;
    opacity: 0.6;
    width: 400px;

}


.footerDiv,
.contactDiv,
.wineryDiv {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 300px;
    margin: 0 auto;
}

.agendaDiv {
    background-image: 
      linear-gradient(
        rgba(0, 191, 255, 0.75),
        rgba(0, 191, 255, 0.75)
      ),
      url('./../images/wine-grapes.jpg');
    

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}


.footerDiv,
.wineryDiv {
    background: #f9f9f9;
}

.contactDiv {
    background: #00BFFF;
}

.wineryImg {
    background: black;
    padding: 20px;
    margin-block-start: 28px;
}

#wineryTable {
    width: 1024px;
    margin: 0 auto;
    padding-top: 40px;
}

.tableRow {
    border-top:#D3D3D3 solid 1px;
    padding: 10px;
}

.rowTitle {
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
}

.description {
    font-size: 14px;
    letter-spacing: 1px;
}

.footerHeader {
    color:#00BFFF;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.footerText {
    text-align: center;
    font-size: 18px;
}

.footerText a:visited,
.footerText a {
    color: #605E5E;
    text-decoration: none;
}

.footerText a:hover {
    color: #00BFFF;
}


.contactName {
    text-align: center;
    font-size: 24px;
    color: white;
}

.contactEmail {
    text-align: center;
    font-size: 22px;
}

.contactEmail a:visited,
.contactEmail a {
    color: #605E5E;
    text-decoration: none;
}

.contactEmail a:hover {
    color: white;
}

.sponsorLogo {
    width: 350px;
}

#buttonType {
    padding: 10px 60px;
    height: 50;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    border: white solid 1px;
    background: transparent;
}

#buttonType:hover {
    color: #00BFFF;
    background: white;
}

.agendaDiv,
.testDiv {
    width: 100%;
    text-align: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.agendaDiv h4,
.testDiv h4 {
    color: #605E5E;
    font-size: 14px;
    text-transform: uppercase;
}

.agendaDiv h4 {
    text-align: center;
}

.agendaInfo {
    padding-bottom: 70px;
}

.agendaInfo:nth-child(4) {
    padding-bottom: 0;
}


.agendaInfo p {
    text-align: center;
    margin: 0;
}

.agendaInfo p:first-child {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px #605E5E;
}

.agendaInfo p:nth-child(2) {
    font-size: 16px;
    text-transform: uppercase;
}

.testDiv .timeInfo,
.testDiv .locationInfo {
    text-align: center;
    width: 50%;
}

.testDiv .timeInfo p,
.testDiv .locationInfo p {
    text-transform: uppercase;
    font-size: 32px;
    color: #605E5E;
    margin: 0;
}

.testDiv h1 {
    text-align: center;
}

.testDiv .eventInfo {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 10px;
}

.testDiv .eventInfo p {
    color: #605E5E;
    font-size: 18px;
}

.arrowContainer {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 130px;
    width: 100%;
}

.downArrow {
    color: white;
    font-size: 60px !important;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}